name: ASP.NET Core Release

inputs:
  project_name:
    required: true
  github_token:
    required: true

runs:
  using: "composite"
  steps:                            
    - name: Checkout repository
      uses: actions/checkout@v3
    
    - name: Download build Artifact
      uses: actions/download-artifact@v3
      with:
        name: artifact
         
    - name: Semantic Release
      id: semantic
      uses: cycjimmy/semantic-release-action@v3
      with:
        semantic_version: 19.0.*       
        extra_plugins: |
          @semantic-release/git 
          @semantic-release/changelog
      env:
        GITHUB_TOKEN: ${{ inputs.github_token }}
      
    - name: Checkout actions repository
      uses: actions/checkout@v3
      with:
        repository: uwhealth-is/actions
        path: ./.github/uwh-actions
      
