name: Entity Framework Migration Script Creation

inputs:
  project_name:
    required: true
    type: string
    
runs:
  using: "composite"
  steps:
    - name: Checkout actions repository
      uses: actions/checkout@v3
      with:
        repository: uwhealth-is/actions
        path: ./.github/uwh-actions

    - name: Download build Artifact
      uses: actions/download-artifact@v3
      with:
        name: build
      
    - name: Unzip build
      shell: bash
      run: unzip build.zip

    - name: Install entity framework tool
      shell: bash
      run: dotnet tool install --global dotnet-ef --ignore-failed-sources --version 6.0.*
    
    - name: Checkout actions repository
      uses: actions/checkout@v3
      with: 
        path: ./.github/uwh-actions
        repository: uwhealth-is/actions

    - name: Create entity framework migrations sql script
      shell: bash
      run: dotnet ef migrations script --idempotent --configuration Release --project ${{ inputs.project_name }}.Data --output efmigrations.sql
    
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v3.1.0
      with:
        name: artifact
        path: ${{ github.workspace }}\efmigrations.sql
