name: Entity Framework Migration Script Creation

on:
  workflow_call:
    inputs:
      project_name:
        required: true
        type: string
    secrets:
      ado_token:
        required: true
      telerik_user: 
        required: false
      telerik_password: 
        required: false

jobs:
  efmigrations:     
    name: Entity Framework Migration Script Creation
    runs-on: windows-latest
    permissions: write-all
    
    steps:      
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Install entity framework tool
      shell: bash
      run: dotnet tool install --global dotnet-ef --ignore-failed-sources --version 6.0.5
    
    - name: Checkout actions repository
      uses: actions/checkout@v3
      with: 
        path: ./.github/uwh-actions
        repository: uwhealth-is/actions

    - name: Run dotnet build
      uses: ./.github/uwh-actions/.github/workflows/aspnetcore-build
      with:
        project_name: ${{ inputs.project_name }}
        ado_token: ${{ secrets.ado_token }}
        telerik_user: ${{ secrets.telerik_user }}
        telerik_password: ${{ secrets.telerik_password }}
    
    - name: Create entity framework migrations sql script
      shell: bash
      run: dotnet ef migrations script --idempotent --configuration Release --no-build --project ${{ inputs.project_name }} --output ${{ github.workspace }}\publish\efmigrations.sql
    
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v3.1.0
      with:
        name: artifact
        path: ${{ github.workspace }}\publish\efmigrations.sql
