name: ASP.NET Core Release

on:
  workflow_call:
    inputs:
      project_name:
        required: true
        type: string     
    secrets:
      ado_token:
        required: true

jobs:
  Release:     
    name: Release
    runs-on: ubuntu-latest
    permissions: write-all

    steps: 
    - name: Download build Artifact
      uses: actions/download-artifact@v3
      with:
        name: artifact   
    
    - name: Copy report files to reports directory
      shell: bash
      run: |
        mkdir reports
        cp -r *.rdl ${{ github.workspace }}/reports || :
        cp -r *.rds ${{ github.workspace }}/reports || :

    - name: zip report files
      shell: bash
      run: |
        pushd ${{ github.workspace }}/reports
        zip -r ${{ github.workspace }}/reports.zip ./
        popd


    - name: Copy sql files to procedures directory
      shell: bash
      run: |
        mkdir procedures
        grep --exclude efmigrations.sql *.sql ./ | xargs -Ifiles cp -t files ${{ github.workspace }}/procedures || :       
    
    - name: zip procedure files
      shell: bash
      run: |
        pushd ${{ github.workspace }}/procedures
        zip -r ${{ github.workspace }}/procedures.zip ./
        popd
      
   
    - name: Create Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
      with:
        tag_name: ${{ github.ref_name }}.${{ github.run_number }}
        release_name: ${{ github.ref_name }}.${{ github.run_number }}
        draft: false
        prerelease: false
    
    - name: Upload Build Release Assets
      if: success()
      id: upload-build-release-asset 
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}  
        asset_path: ${{ github.workspace }}/artifact.zip
        asset_name: artifact.zip
        asset_content_type: application/zip
    
    - name: Upload Reports Release Asset
      if: success()
      id: upload-report-release-asset 
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}  
        asset_path: ${{ github.workspace }}/reports.zip
        asset_name: reports.zip
        asset_content_type: application/zip   
    
    - name: Upload Procedures Release Asset
      if: success()
      id: upload-procedure-release-asset 
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}  
        asset_path: ${{ github.workspace }}/procedures.zip
        asset_name: procedures.zip
        asset_content_type: application/zip
        
    - name: Upload Migration Release Asset
      if: success()
      id: upload-migration-release-asset 
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}  
        asset_path: ${{ github.workspace }}/efmigrations.sql
        asset_name: efmigrations.sql
        asset_content_type: application/sql
    
    - name: Azure Pipelines Action
      uses: Azure/pipelines@v1.2
      with:
        azure-devops-project-url: 'https://dev.azure.com/uwhealth/SoftwareDevelopment'
        azure-pipeline-name: '${{ inputs.project_name }}'
        azure-pipeline-variables: '{"AppSettings.Version": "${{ github.ref_name }}.${{ github.run_number }}"}'
        azure-devops-token: '${{ secrets.ado_token }}'
