name: AspNetCore Pipeline

on:
  workflow_call:
    inputs:
      project_name:
        required: true
        type: string
      application_dev_url: 
        required: true
        type: string
      application_test_url:
        required: true
        type: string
    secrets:
      ado_token:
        required: true
      sonar_token:
        required: true
      package_pat:
        required: true
      telerik_user: 
        required: false
      telerik_password: 
        required: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout actions repository
        uses: actions/checkout@v3
        with:
          repository: uwhealth-is/actions
          path: ./.github/uwh-actions 

      - name: Build / Test / Analyze
        uses: ./.github/uwh-actions/.github/workflows/aspnetcore-buildtestanalyze
        with:
          project_name: ${{ inputs.project_name }}  
          ado_token: ${{ secrets.ado_token }}
          sonar_token: ${{ secrets.sonar_token }}
          package_pat: ${{ secrets.package_pat }}
          telerik_user: ${{ secrets.telerik_user }}
          telerik_password: ${{ secrets.telerik_password }}  
            
  efmigrations:
      name: Entity Framework Migrations
      needs: [build]
      uses: ./.github/uwh-actions/.github/workflows/aspnetcore-efmigrations-ubuntu.yml
      with:
        project_name: ${{ inputs.project_name }}  
            
  publish:
      name: Publish
      needs: [build]
      uses: ./.github/uwh-actions/.github/workflows/aspnetcore-publish.yml
      with:
        project_name: ${{ inputs.project_name }}  
        package_pat: ${{ secrets.package_pat }}
      
  reportsandsql:
    name: Reports and SQL
    uses: ./.github/uwh-actions/.github/workflows/aspnetcore-reportsandsql.yml
    with:
      project_name: ${{ inputs.project_name }}

  release: 
    runs-on: ubuntu-latest
    needs: [build, reportsandsql, efmigrations, publish] 
    steps:
      - name: Checkout actions repository
        uses: actions/checkout@v3
        with:
          repository: uwhealth-is/actions
          path: ./.github/uwh-actions 
      
      - name: Release
        uses: ./.github/uwh-actions/.github/workflows/aspnetcore-release
        with:
          project_name: ${{ inputs.project_name }}
          ado_token: ${{ secrets.ado_token }}
      
  deployment-development:
    runs-on: ubuntu-latest
    environment: 
      name: Development
      url: ${{ inputs.application_dev_url }}
    needs: [release]
    if: ${{ github.ref_name != 'main' }}
    steps:
      - name: Azure Pipelines Action
        uses: Azure/pipelines@v1.2
        with:
          azure-devops-project-url: 'https://dev.azure.com/uwhealth/SoftwareDevelopment'
          azure-pipeline-name: '${{ inputs.project_name }}_Development'
          azure-pipeline-variables: '{"AppSettings.Version": "${{ github.run_number }}", "AppSettings.Environment": "Development"}'
          azure-devops-token: '${{ secrets.ado_token }}'
        
  deployment-test:  
    runs-on: ubuntu-latest
    environment: 
      name: Test
      url: ${{ inputs.application_test_url }}   
    needs: [release]
    if: ${{ github.ref_name == 'main' }}    
    steps:
      - name: Azure Pipelines Action
        uses: Azure/pipelines@v1.2
        with:
          azure-devops-project-url: 'https://dev.azure.com/uwhealth/SoftwareDevelopment'
          azure-pipeline-name: '${{ inputs.project_name }}_Production'
          azure-pipeline-variables: '{"AppSettings.Version": "${{ github.run_number }}", "AppSettings.Environment": "Test"}'
          azure-devops-token: '${{ secrets.ado_token }}'
