name: AspNetCore Pipeline

on:
  workflow_call:
    inputs:
      project_name:
        required: true
        type: string
      project_root_name:
        required: false
        type: string
      application_dev_url: 
        required: true
        type: string
      application_test_url:
        required: true
        type: string
    secrets:
      ado_token:
        required: true
      sonar_token:
        required: true
      package_pat:
        required: true
      telerik_user: 
        required: false
      telerik_password: 
        required: false

jobs:    
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout actions repository
        uses: actions/checkout@v3
        with:
          repository: uwhealth-is/actions
          path: ./.github/uwh-actions 
          
      - name: Build / Test / Analyze
        uses: ./.github/uwh-actions/.github/workflows/aspnetcore-buildtestanalyze
        with:
          project_name: ${{ inputs.project_name }}  
          ado_token: ${{ secrets.ado_token }}
          sonar_token: ${{ secrets.sonar_token }}
          package_pat: ${{ secrets.package_pat }}
          telerik_user: ${{ secrets.telerik_user }}
          telerik_password: ${{ secrets.telerik_password }}  
            
  efmigrations:
    runs-on: windows-latest
    needs: [build] 
    steps:
      - name: Checkout actions repository
        uses: actions/checkout@v3
        with:
          repository: uwhealth-is/actions
          path: ./.github/uwh-actions 
          
      - name: Entity Framework Migrations
        uses: ./.github/uwh-actions/.github/workflows/aspnetcore-efmigrations
        with:
          project_name: ${{ inputs.project_name }}  
          project_root_name: ${{ inputs.project_root_name }}  
            
  publish:  
    runs-on: ubuntu-latest
    needs: [build] 
    steps:
      - name: Checkout actions repository
        uses: actions/checkout@v3
        with:
          repository: uwhealth-is/actions
          path: ./.github/uwh-actions 
      
      - name: Publish
        uses: ./.github/uwh-actions/.github/workflows/aspnetcore-publish
        with:
          project_name: ${{ inputs.project_name }}  
          package_pat: ${{ secrets.package_pat }}
      
  reportsandsql:     
    runs-on: ubuntu-latest
    steps:
      - name: Checkout actions repository
        uses: actions/checkout@v3
        with:
          repository: uwhealth-is/actions
          path: ./.github/uwh-actions 

      - name: Reports and SQL
        uses: ./.github/uwh-actions/.github/workflows/aspnetcore-reportsandsql
        with:
          project_name: ${{ inputs.project_name }}

  release: 
    runs-on: ubuntu-latest
    needs: [build, reportsandsql, efmigrations, publish] 
    outputs:
      new_release_published:  ${{ steps.semantic.outputs.new_release_published }}
      new_release_version: ${{ steps.semantic.outputs.new_release_version }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
    
      - name: Download build Artifact
        uses: actions/download-artifact@v3
        with:
          name: artifact
         
      - name: Semantic Release
        id: semantic
        uses: cycjimmy/semantic-release-action@v3
        with:
          semantic_version: 19.0.*       
          extra_plugins: |
            @semantic-release/git 
            @semantic-release/changelog
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      
      
  deployment-development:
    runs-on: ubuntu-latest
    environment: 
      name: Development
      url: ${{ inputs.application_dev_url }}
    needs: [release]
    if: ${{ github.ref_name != 'main' && needs.release.outputs.new_release_published == 'true' }}
    steps:
      - name: Azure Pipelines Action
        uses: Azure/pipelines@v1.2
        with:
          azure-devops-project-url: 'https://dev.azure.com/uwhealth/SoftwareDevelopment'
          azure-pipeline-name: '${{ inputs.project_name }}_Development'
          azure-pipeline-variables: '{"AppSettings.Version": "v${{ needs.release.outputs.new_release_version }}", "AppSettings.Environment": "Development"}'
          azure-devops-token: '${{ secrets.ado_token }}'
        
  deployment-test:  
    runs-on: ubuntu-latest
    environment: 
      name: Test
      url: ${{ inputs.application_test_url }}   
    needs: [release]
    if: ${{ github.ref_name == 'main' && needs.release.outputs.new_release_published  == 'true' }}    
    steps:
      - name: Azure Pipelines Action
        uses: Azure/pipelines@v1.2
        with:
          azure-devops-project-url: 'https://dev.azure.com/uwhealth/SoftwareDevelopment'
          azure-pipeline-name: '${{ inputs.project_name }}_Production'
          azure-pipeline-variables: '{"AppSettings.Version": "${{ needs.release.outputs.new_release_version }}", "AppSettings.Environment": "Test"}'
          azure-devops-token: '${{ secrets.ado_token }}'
