name: ASP.NET Core Build & Test

on:
  workflow_call:
    inputs:
      project_name:
        required: true
        type: string     
    secrets:
      ado_token:
        required: true
        
jobs:
  BuildTest:  
    env:
      nuget_feed_name: 'UWHealth'
      nuget_feed_source: 'https://pkgs.dev.azure.com/uwhealth/_packaging/UWHealth_Package_Feed_Updated/nuget/v3/index.json'
      nuget_config: 'Nuget.config'
      
    name: Build and Test
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write

    steps:
    - uses: actions/checkout@v2
      with:
        repository: uwhealth-is/actions
        path: ./.github/uwh-actions
        
    - uses: ./github/uwh-actions/.github/workflows/composite/aspnetcore-build.yml@main
      with:
        project_name: ${{ inputs.project_name }}
      
    - name: Run dotnet test   
      run: dotnet test --no-build --logger trx --configuration Release --collect:"XPlat Code Coverage" --results-directory "TestResults"
    
    - name: Zip build artifact
      run: zip -r build-artifact.zip .
    
    - name: Upload Build Artifact
      uses: actions/upload-artifact@v3.0.0
      with:
        name: build-artifact
        path: build-artifact.zip
