name: SonarCloud Analysis

on:
  workflow_call:
    inputs:
      project_name:
        required: true
        type: string
    secrets:
      sonar_token:
        required: true

jobs:
  SonarCloudAnalyze:
    name: SonarCloudAnalyze
    runs-on: windows-latest
    steps:    
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 1.11
      
      - name: Cache SonarCloud packages
        uses: actions/cache@v1
        with:
          path: ~\sonar\cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar
      
      - name: Cache SonarCloud scanner
        id: cache-sonar-scanner
        uses: actions/cache@v1
        with:
          path: .\.sonar\scanner
          key: ${{ runner.os }}-sonar-scanner
          restore-keys: ${{ runner.os }}-sonar-scanner
      
      - name: Install SonarCloud scanner
        if: steps.cache-sonar-scanner.outputs.cache-hit != 'true'
        shell: powershell
        run: |
          New-Item -Path .\.sonar\scanner -ItemType Directory
          dotnet tool update dotnet-sonarscanner --tool-path .\.sonar\scanner
      
      - name: Download Artifact
        uses: actions/download-artifact@v3
        with:
          name: build-artifact
          
      - name: Unzip Artifact
        run: 7z x build-artifact.zip 
        
      - name: Build and analyze
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        shell: powershell
        run: |
          .\.sonar\scanner\dotnet-sonarscanner begin 
            /k:"${{ inputs.project_name }}-UWHealth-is" 
            /o:"uwhealth-is" 
            /d:sonar.login="${{ secrets.SONAR_TOKEN }}" 
            /d:sonar.host.url="https://sonarcloud.io"
            /d:sonar.exclusions="**/*.bin,**/obj/**,**/wwwroot/dist/**,**/wwwroot/lib/**,**/Migrations/**/*"
            /d:sonar.coverage.exclusions="**/Startup.cs,**/Program.cs,**/wwwroot/**/*.js,**/*Tests.cs"
            /d:sonar.cs.cobertura.reportsPaths="**/coverage.cobertura.xml"
          .\.sonar\scanner\dotnet-sonarscanner end /d:sonar.login="${{ secrets.SONAR_TOKEN }}"
